@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-decoration: none;
    font-family: 'Fascinate Inline', cursive;
    background-image: linear-gradient(to bottom, #4751c7, #98ded9, #c7ffd8, #f6f6f6);
    background-size: cover;
    background-repeat: no-repeat;
}

h1{
    font-size: 30px;
    text-align: center;
}

.jokenpo{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.jokenpo img{
    width: 250px;
}

.ball-8{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.ball-8 img{
    width: 250px;
    padding: 20px;
}

.jokenpo img:hover{
    width: 280px;
} 

.ball-8 img:hover{
    width: 280px;
}

@media screen and (min-width: 768px){
    body{
        background-image: linear-gradient(45deg, #161d6f, #98ded9, #c7ffd8, #f6f6f6);
        background-size: 300%;
        animation: color 15s ease infinite;
    }
    
    #games{
        display: flex;
        justify-content: space-around;
        height: 70vh;
    }
}

@keyframes color{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
