@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Fredoka+One&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #bccaf8;
}

h1{
    text-align: center;
    font-family: 'Fascinate Inline', cursive;
    text-shadow: rgb(218, 218, 218) 1px 0 10px;
}

#back img{
    width: 45px;
    display: block;
    margin: 0 auto;
    padding: 35px;
}

p{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 15px;
    padding-bottom: 30px;
}

.opt{
    font-size: 17px;
    text-transform: uppercase;
}

#result img{
    display: block;
    margin: 0 auto;
    padding: 20px;
    width: 200px;
}

#reload img{
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 768px){
    p{
        font-size: 20px;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 50px;
    }

    .opt{
        font-size: 22px;
    }
}