@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Fredoka+One&display=swap');

body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(./img/background.jpg);
    background-repeat: repeat;
    background-size: cover;
}

h1{
    text-align: center;
    font-family: 'Fascinate Inline', cursive;
    text-shadow: rgb(218, 218, 218) 1px 0 10px;
}

h3{
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

.jokenpo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.jokenpo figure{
    margin: 0;
    padding: 0;
}

.jokenpo img{
    width: 100px;
}

.jokenpo img:hover{
    width: 115px;
}

div #result{
    width: 100%;
    margin-bottom: 20px;
    height: 120px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    align-content: flex-start;
}

#score{
    font-size: 20px;
    padding: 15px 5px;
    border: 3px solid black;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    background-color: white;
    font-family: 'Fredoka One', cursive;
    display: flex;
    justify-content: space-between;
}

.pers figure{
    margin: 0;
    padding: 0;
    display: flex;
}
.pers img{
    width: 150px;
    margin: 0 auto;
}

#back img{
    width: 45px;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

@media screen and (min-width: 768px){
    body{
        background-image: url(./img/background.jpg);
        background-repeat: no-repeat;
        background-size: 160%;
    }

    h3{
        text-shadow: rgb(85, 85, 85) 1px 0 10px;
    }
    
    #score{
        width: 400px;
    }

    .pers img{
        width: 200px;
    }

}